.box {background-color: lightgrey;
  width: 300px;
  border: 1px solid green;
  padding: 50px;
  margin: 20px;
  }

  .ex1 {
  background-color: lightblue;
  width: 450px;
  height: 450px;
  overflow: scroll;
}